div.sc-device {
	.timerange {
		margin-top: 0.5rem;
		display: grid;
		grid-template-columns: auto 2rem;
		align-items: center;
		i {
			font-size: 1.5rem;
		}
	}

	.add-timerange {
		text-align: center;
		font-style: italic;
		color: grey;
		margin-top: 0.5rem;
	}
}
