div.sc-device {
	.wizard {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.timerange {
		margin-top: 0.5rem;
		display: grid;
		grid-template-columns: auto 2rem;
		align-items: center;
		gap: 1rem;
	}

	.add-timerange {
		text-align: center;
		font-style: italic;
		color: grey;
		margin-top: 0.5rem;
	}
}
