.sc-select-htdevice {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0.7rem;

	div {
		padding: 0.5rem;
		border-radius: 10px;

		&.selected {
			background-color: $color-selected;
		}

		span {
			display: block;
			text-align: center;

			&.temperature {
				font-weight: bold;
				font-size: 130%;
			}
		}
	}
}
