.sc-select-devicetype {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 0.7rem;

	i {
		@include tile;

		font-size: 3rem;

		&.selected {
			background-color: $color-selected;
		}
	}
}
