div.sc-timerange {
	display: inline-block;

	span {
		display: inline-block;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 0.2rem;
		cursor: pointer;

		&.selected {
			border: 1px solid $color-selected;
		}
	}

	input {
		&:nth-of-type(1) {
			margin-right: 0.5rem;
		}

		border: 1px solid $color-form-border;
		border-radius: 5px;
		padding: 0.5rem;
	}

	i {
		font-size: 1.7rem;
		margin-left: 0.8rem;
		vertical-align: middle;
	}
}
