div.sc-timerange {
	display: inline-block;

	div {
		&>span {
			display: inline-block;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			padding: 0.2rem;
			cursor: pointer;

			&.selected {
				border: 1px solid $color-selected;
			}
		}
	}

	input {
		&:nth-of-type(1) {
			margin-right: 0.5rem;
		}

		border: 1px solid $color-form-border;
		border-radius: 5px;
		padding: 0.2rem;
	}

	i {
		font-size: 1.7rem;
		margin-left: 0.5rem;
		vertical-align: middle;
	}

	div.options {
		margin-top: 0.5rem;

		i {
			margin-right: 0.5rem;
		}

		input {
			display: inline-block;
			width: 5rem;
			-moz-appearance: textfield;
		}

		.tooltip {
			margin-top: 0.3rem;
			font-style: italic;
		}
	}
}
