div.sc-app {
	max-width: $max-app-width;
	margin: auto;

	.menu {
		font-size: 2.5rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
		margin: 0px auto 1rem auto;

		i {
			text-align: center;
		}
	}

	.error, .message {
		position: fixed;
		width: 90vw;
		left: 5vw;
		top: 30vh;
		box-sizing: border-box;
		padding: 10px;
		border-radius: 10px;
		font-weight: bold;
		text-align: center;

		&.error {
			background-color: $color-warning;
		}

		&.message {
			background-color: $color-ok;
		}
	}
}
