div.sc-configs {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 2rem;

	div {
		text-align: center;

		i {
			font-size: 3rem;
		}

		span {
			display: block;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}
