body {
	font-family: Arial;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.fa {
	cursor: pointer;
}

.on {
	color: $color-on;
}

.off {
	color: $color-off;
}

.warning-btn {
	text-align: center;
	font-weight: bold;
	background-color: $color-warning;
	padding: 0.5rem;
	border-radius: 10px;
	cursor: pointer;
}
