$item-radius: 5rem;
$meter-width: 5.5rem;
$network-size: 4rem;
$border-size: 3px;

.sc-meter-global {
	margin-top: 2rem;

	.meter {
		position: absolute;
		width: $meter-width;
		text-align: center;
		background-color: white;
		border: 1px solid black;
		border-radius: 5px;
		box-sizing: border-box;
	}

	div.round {
		position: relative;
		display: grid;
		border-radius: 50%;
		border: $border-size solid black;
		width: $item-radius;
		height: $item-radius;
		text-align: center;
		box-sizing: border-box;

		div {
			align-self: center;
			font-size: 3rem;
		}

		.meter {
			border-radius: 0px;
			font-weight: bold;
		}

		.meter.right {
			top: 1.5rem;
			right: calc(-#{$meter-width} - 1rem);
		}

		.meter.left {
			top: 1.5rem;
			left: calc(-#{$meter-width} - 1rem);
		}

		.meter.bottom {
			bottom: -2rem;
			left: calc(-#{$border-size} * 2 - 1px);
		}

		.meter.top {
			top: -2rem;
			left: calc(-#{$border-size} * 2 - 1px);
		}

		.soc {
			position: absolute;
			top: 1.9rem;
			font-size: 0.7rem;
			text-align: center;
			width: 100%;
		}
	}

	.production {
		display: grid;
		grid-template-columns: $item-radius $item-radius $item-radius;
		justify-content: space-between;
		margin-top: 2rem;

		.offline {
			position: absolute;
			width: 100%;
			color: red;
			text-align: center;
			font-size: 1.4rem;
			font-weight: bold;
		}
	}

	.network {
		display: grid;
		grid-template-columns: 1fr $item-radius 1fr;

		.meter.gridpv {
			bottom: -10px;
			left: calc((100% - #{$meter-width}) / 2);
			font-style: italic;
		}

		div.connector-grid {
			position: relative;
			border-left: $border-size solid black;
			border-bottom: $border-size solid black;
			margin-left: calc(#{$item-radius} / 2);
			margin-bottom: calc(#{$item-radius} / 2);
			border-radius: 0 0 0 10px;

			.arrow-grid {
				width: 18px;
				position: absolute;
				left: -10px;
				top: 0px;
			}

			.arrow-bolt {
				width: 10px;
				position: absolute;
				bottom: -10px;
				right: 0px;
			}
		}

		div.mix {
			align-self: end;
		}

		div.connector-pv {
			position: relative;
			border-right: $border-size solid black;
			border-bottom: $border-size solid black;
			margin-right: calc(#{$item-radius} / 2);
			margin-bottom: calc(#{$item-radius} / 2);
			border-radius: 0 0 10px 0;

			.arrow-bolt {
				width: 10px;
				position: absolute;
				bottom: -10px;
				left: 0px;
			}
		}
	}

	.network-vert {
		position: relative;
		margin: auto;
		width:0px;
		height: $network-size;
		border-left: $border-size solid black;

		.arrow-down {
			width: 18px;
			position: absolute;
			bottom: 0px;
			left: -10px;
		}

		.meter {
			left: calc((#{$meter-width} + 2px) / -2);
			top: 1rem;
			font-style: italic;
		}
	}

	.home {
		display: grid;
		grid-template-columns: 1fr 3rem 1fr;
		border: $border-size solid black;
		align-items: center;
		border-radius: 10px;
		margin-left: 2rem;
		margin-right: 2rem;
		padding: 0.2rem;
		text-align: center;

		i {
			font-size: 3rem;
		}

		span>span {
			font-size: 1.3rem;
			font-weight: bold;
			border-radius: 5px;
			padding: 0.2rem;
			background-color: white;
		}
	}

	.home-devices {
		display: grid;
		grid-template-columns: repeat(auto-fit, $item-radius);
		justify-content: space-around;

		&>div {
			.label {
				position: absolute;
				margin-left: -1.2rem;
				writing-mode: vertical-lr;
				transform: rotate(180deg);
				text-align: center;
				font-size: 75%;
				height: calc(#{$network-size + $item-radius});
			}
		}
	}
}
