.sc-meter-summary {
	margin-left: 1rem;

	display: grid;
	height: calc(100vh - 4.5rem);
	gap: 0.4rem;

	div.line {
		font-size: 2.5rem;
		display: grid;
		grid-template-columns: 5rem 1fr 1fr 1fr;
		align-items: center;
		gap: 1rem;
		text-align: left;

		&.line2 {
			grid-template-columns: 5rem 1fr 2fr;
		}

		.label {
			font-size: 80%;
		}

		.icon {
			display: grid;
			grid-template-columns: 5px 1fr;

			.bar {
				width: 5px;
				height: 100%;
				display: inline-block;
			}
		}

		.prct {
			padding-left: 0.2rem;
			border-radius: 10px;
			text-align: center;
		}
	}

	div.home
	{
		position: absolute;
		bottom: 0.5rem;
		left: 1rem;
		width: calc(100vw - 3rem);
		font-size: 2rem;
		border-radius: 20px;
		padding: 0.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}
}
