.sc-meter-summary {
	margin: 1rem;

	display: grid;
	height: 80vh;

	div.line {
		font-size: 3rem;
		display: grid;
		grid-template-columns: 5rem 1fr 2fr;
		gap: 1rem;
		text-align: left;

		.label {
		}
	}

	div.home
	{
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		width: calc(100vw - 3rem);
		font-size: 3rem;
		border-radius: 20px;
		padding: 0.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}
}
