table.layout-evenodd {
	border-collapse: collapse;

	tbody {
		tr:nth-child(even) {
			background-color: #ffffff;
		}

		tr:nth-child(odd) {
			background-color: #e4e4e4;
		}
	}
}

table.layout-evenodd4 {
	border-collapse: collapse;

	tbody {
		tr:nth-child(4n), tr:nth-child(4n-1) {
			background-color: #ffffff;
		}

		tr:nth-child(4n-2), tr:nth-child(4n-3) {
			background-color: #e4e4e4;
		}
	}
}
