.layout-form {
	dl {
		margin: 0px 0px 1rem 0px;

		dt {
			display: grid;
			grid-template-columns: 1fr 1.5rem;
			padding: 0.5rem;
			background-color: #b0e8e3;
			border-radius: 10px;
			font-weight: bold;

			&.block {
				background-color: transparent;
				font-size: 1.2rem;
			}

			&.expanded {
				margin-bottom: 0.5rem;
			}

			&.disabled {
				color: grey;
			}

			&.enabled {
				color: black;

				.scf-check {
					color: green;
				}
			}
		}

		dd {
			margin-bottom: 1rem;
		}

		dd:not(:has(*)) {
			margin-left: 0px;
			padding: 0.5rem;
		}

		dd:has(*) {
			margin-left: 0px;
		}

		dd:has(input[type="text"]) {
			&>input {
				width: 100%;
				border: 1px solid $color-form-border;
				border-radius: 5px;
				padding: 0.5rem;
				margin-top: 0.5rem;
			}
		}

		dd:has(input[type="number"]) {
			&>input {
				width: 100%;
				border: 1px solid $color-form-border;
				border-radius: 5px;
				padding: 0.5rem;
				margin-top: 0.5rem;
				-moz-appearance: textfield;
				&::-webkit-outer-spin-button,
				&input::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}
			}
		}

		dd {
			.sc-select-htdevice, .sc-slider-duration, .sc-select-controltype, .sc-select-integer {
				margin-top: 0.5rem;
			}
		}

		input {
			box-sizing: border-box;
		}
	}

	.submit {
		text-align: center;
		font-weight: bold;
		background-color: #e8e8e8;
		padding: 0.5rem;
		border-radius: 10px;
		cursor: pointer;
	}
}
